<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Trade License Depart" parallel="tests" thread-count="5">

<listeners>
<listener class-name="test.Listeners"></listener>
</listeners>
  <test  name="Citizen Module">
    <classes>
      <class name="test.day1"/>
      <class name="test.day2"/>
    </classes>
  </test> <!-- Test -->

<test  name="Official Module">
<parameter name="URL" value="Google.com"></parameter>
<parameter name="KEY" value="1234"></parameter>
    <classes>
      <class name="test.day3"/>

      <class name="test.day4"/>

    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
